@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: lightcoral;
}

/* Location for classes */
.startBtn,
.debriefing,
.quizBox, 
.resultBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2),
                0px 4px 8px 0 rgba(0,0,0,0.19);
}

.debriefing.activeInfo {
    position: absolute;
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/*Rules Styling*/
.debriefing {
    /*display: none;*/
    width: 540px;
    background: tan;
    border-radius: 5px;
    width: 400px;
    border-bottom: 1px solid lightslategray;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

/*Rules Styling*/
.debriefingTitle{
    height: 60px;
    width: 100%;
    border-bottom: 1px dotted lightslategrey;
    align-items: center;
    padding: 15px 155px;
    font-size: 20px;
    font-weight: 700;
}

/*Rules Styling*/
.debriefingList {
    padding: 15px 35px;
}

/*Rules Styling*/
.list {
    margin: 5px 0;
    font-size: 17px;
}

/* Continue & Exit Quiz button stylings*/
.buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 155px;
    border-top: 1px solid lightslategrey;
}

/* Continue & Exit Quiz button stylings*/
.quit, .continue {
    margin: 5px;
    height: 40px;
    width: 100%;
    background: lightcoral;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

/* Continue & Exit Quiz button stylings*/
button {
    color: lightcoral;
    border-color: black;
}

.quizBox {
    /*display: none;*/
    width: 550px;
    background: #fff;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);

}.quizBox header {
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quizBox header .title {
    font-size: 20px;
    font-weight: 600;
}

.quizBox header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    padding: 0 8px;
}

.quizBox section {
    padding: 25px 30px 20px 30px;
    background: #fff;
}

.quizBox section .que-text {
    font-size: 25px;

}

.quizBox section .option-list {
    padding: 20px;
}

section .optionList .option {
    border: 1px solid #007bff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

 .quizBox footer {
     height:50px;
     width: 100%;
     padding: 0 30px;
     display: flex;
     align-items: center;
     justify-content: space-between;

 }

 .quizBox footer .totalQue span {
     display: flex;
 }

 .quizBox footer .totalQue span p {
    padding: 0 5px;
 }

 footer .nextBtn {
    height: 40px;
    padding: 0 13px;
 }

 .resultBox {
    /*display: none;*/
    background: #fff;
    display: inline-block;
    padding: 25px 30px;
    width: 445px;
    border-radius:5px;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
 }
