@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: lightcoral;
}

/* Start button page placement*/
.start-btn,
.debriefing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.debriefing {
    width: 540px;
    background: tan;
    border-radius: 5px;
    width: 400px;
    border-bottom: 1px solid lightslategray;
    align-items: center;
}

.debriefing-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px dotted lightslategrey;
    align-items: center;
    padding: 15px 155px;
    font-size: 20px;
    font-weight: 700;
}

.debriefing-list {
    padding: 15px 35px;
}

.list {
    margin: 5px 0;
    font-size: 17px;
}

span {
    font-weight: 600;
    color: coral;
}

/* Continue & Exit Quiz button stylings*/
.buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 155px;
    border-top: 1px solid lightslategrey;
}

/* Continue & Exit Quiz button stylings*/
.quit, .continue {
    margin: 5px;
    height: 40px;
    width: 100%;
    background: lightcoral;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

/* Continue & Exit Quiz button stylings*/
button {
    color: lightcoral;
    border-color: black;
}